.post{
    margin:0px 0 10px 0;
    width: 100%;
    border: 3px solid #fff;
    transition: border .5s;
}
.post:hover{
    border:3px solid #381460;
}
.post .card-header{
    background:#fff;
}
.rightController{
    float: right;
}
.rightController i{
    margin: 0 10px 0 0;
    cursor: pointer;
    padding: 5px;
    transition: all .5s;
    border-radius: 50%;
}
.rightController i:hover{
    background: #381460;
    color:#fff;
}