body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #b21f66;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bg-mine{
  background: #381460;
  border-bottom:1px solid #333;
}
#RightSection{
  height: 500px;
  width: 100%;
}
.navbar{
  margin:0 0 10px 0;
}