#PostInput{
    border:0;
    outline: none;
    resize: none;
    height: 250px;
    padding: 15px;
}
#RightSection .btn-info{
    border-color: #ffbd69 ;
    background: #ffbd69;
    color:#fff;
}
#RightSection .btn-info:hover{
    background: #f0a645;
    
}
 #channel{
    border-radius: 0;
    border:0;
    cursor: pointer;
    color:#381460;
    font-weight: bolder;
}
#channel option {
    background: #fff;
    color:#381460;
    cursor: pointer;
    padding: 10px;
} 

#channel:hover{
    background: #ddd;
    
}
.icon{
    background: #381460;
    border-radius: 50%;
    color:#fff;
    padding:5px;
    position: 'relative'
}